<link rel="stylesheet" href="/public/css/history.css">
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>halaman utama</title>
  <link rel="stylesheet" href="/public/css/main.css">
  <script src="https://unpkg.com/feather-icons"></script>
</head>

<body>
  <nav class="navbar">
    <a class="title">Item Informations Kalbe Farma</a>
    <div class="navbar-nav">
      <a href="/index.html" class="a" id="aHome"><i data-feather="home"></i></a>
      <a href="#" class="a" id="aMenu" class="menu-nav">
        <i data-feather="menu"></i>
      </a>
    </div>
  </nav>

  <section class="navbar-menu">
    <div class="menu">
      <a class="aArt" href="./art.html">ART page</a>
      <a class="aAtk" href="./atk.html">ATK page</a>
      <a class="history" href="./history.html">History</a>
      <a class="history" href="/index.html">Home</a>
      <!-- <a class="history" href="/login">Cancel</a> -->
    </div>
  </section>
  <div class="container">

    <section class="body">
      <div class="nav">
        <form action="/history" method="get" id="selectAll">
          <button type="submit">ALL</button>
        </form>
      </div>


      <h1>HISTORY INVENTORY</h1>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">NO.</th>
            <th scope="col">Item Code</th>
            <th scope="col">Item Name</th>
            <th scope="col">From</th>
            <th scope="col">Description</th>
            <th scope="col">Total</th>
            <th scope="col">date</th>
            <th scope="col">time</th>
          </tr>
        </thead>
        <form action="/history/selectFrom" method="get" id="historyForm">
          <tr class="searchingItems">
            <td></td>
            <td><input type="text" class="form-input-name" name="historyItemCode"></td>
            <td><input type="text" class="form-input-name" name="historyItemName"></td>
            <td><input type="text" class="form-input-name" name="historyFrom"></td>
            <td><input type="text" class="form-input-name" name="historyDescription"></td>
            <td><input type="number" class="form-input-name" name="historyTotal"></td>
            <td><input type="date" class="form-input-name" name="historyDate"></td>
            <td><input type="text" class="form-input-name" name="historyHour"></td>
            <td style="display: none;"><button type="submit" style="display: none;">Submit</button></td>

          </tr>
        </form>

        <tbody>
          <tr>
            <th scope="row">
              1
            </th>
            <td class="tableShow">
              020202
            </td>
            <td class="tableShow">
              buku
            </td>
            <td class="tableShow">
              atk
            </td>
            <td class="tableShow">
              IN
            </td>
            <td class="tableShow">
              100
            </td>
            <td class="tableShow">
              21/8/2024
            </td>
            <td class="tableShow">
              01:30
            </td>
          </tr>
          <tr>
            <th scope="row">
              5
            </th>
            <td class="tableShow">
              020201
            </td>
            <td class="tableShow">
              pena
            </td>
            <td class="tableShow">
              atk
            </td>
            <td class="tableShow">
              out
            </td>
            <td class="tableShow">
              50
            </td>
            <td class="tableShow">
              20/8/2024
            </td>
            <td class="tableShow">
              14:10
            </td>
          </tr>
          <tr>
            <th scope="row">
              6
            </th>
            <td class="tableShow">
              020203
            </td>
            <td class="tableShow">
              tip-ex
            </td>
            <td class="tableShow">
              atk
            </td>
            <td class="tableShow">
              IN
            </td>
            <td class="tableShow">
              40
            </td>
            <td class="tableShow">
              21/8/2024
            </td>
            <td class="tableShow">
              12:20
            </td>
          </tr>
          <tr>
            <th scope="row">
              7
            </th>
            <td class="tableShow">
              020204
            </td>
            <td class="tableShow">
              cutter
            </td>
            <td class="tableShow">
              atk
            </td>
            <td class="tableShow">
              out
            </td>
            <td class="tableShow">
              10
            </td>
            <td class="tableShow">
              22/8/2024
            </td>
            <td class="tableShow">
              09:40
            </td>
          </tr>
          <tr>
            <th scope="row">
              8
            </th>
            <td class="tableShow">
              003311
            </td>
            <td class="tableShow">
              lap
            </td>
            <td class="tableShow">
              art
            </td>
            <td class="tableShow">
              IN
            </td>
            <td class="tableShow">
              90
            </td>
            <td class="tableShow">
              22/8/2024
            </td>
            <td class="tableShow">
              10:22
            </td>
          </tr>
          <tr>
            <th scope="row">
              9
            </th>
            <td class="tableShow">
              020205
            </td>
            <td class="tableShow">
              kertas hvs a4
            </td>
            <td class="tableShow">
              atk
            </td>
            <td class="tableShow">
              IN
            </td>
            <td class="tableShow">
              66
            </td>
            <td class="tableShow">
              23/8/2024
            </td>
            <td class="tableShow">
              10:25
            </td>
          </tr>
          <tr>
            <th scope="row">
              10
            </th>
            <td class="tableShow">
              020207
            </td>
            <td class="tableShow">
              kertas origami
            </td>
            <td class="tableShow">
              atk
            </td>
            <td class="tableShow">
              out
            </td>
            <td class="tableShow">
              1000
            </td>
            <td class="tableShow">
              24/8/2024
            </td>
            <td class="tableShow">
              07:55
            </td>
          </tr>
          <tr>
            <th scope="row">
              11
            </th>
            <td class="tableShow">
              003311
            </td>
            <td class="tableShow">
              sarung tangan latex
            </td>
            <td class="tableShow">
              art
            </td>
            <td class="tableShow">
              IN
            </td>
            <td class="tableShow">
              1000
            </td>
            <td class="tableShow">
              24/8/2024
            </td>
            <td class="tableShow">
              15:00
            </td>
          </tr>
          <tr>
            <th scope="row">
              12
            </th>
            <td class="tableShow">
              020208
            </td>
            <td class="tableShow">
              tip-ex keong
            </td>
            <td class="tableShow">
              atk
            </td>
            <td class="tableShow">
              IN
            </td>
            <td class="tableShow">
              150
            </td>
            <td class="tableShow">
              24/8/2024
            </td>
            <td class="tableShow">
              10:20
            </td>
          </tr>
          <tr>
            <th scope="row">
              13
            </th>
            <td class="tableShow">
              003311
            </td>
            <td class="tableShow">
              sapu
            </td>
            <td class="tableShow">
              art
            </td>
            <td class="tableShow">
              IN
            </td>
            <td class="tableShow">
              50
            </td>
            <td class="tableShow">
              26/8/2024
            </td>
            <td class="tableShow">
              10:20
            </td>
          </tr>
        </tbody>

      </table>
      <div class="show">
        <a href="#">cancel</a>
        <a href="#">show detiles</a>
      </div>
    </section>
  </div>
</body>

<script src="/public/script/history.js"></script>
<script>
  feather.replace();
</script>

</html>